*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.global
{
    background-color: rgba(4, 4, 19, 0.945);
    h1,h2,h3,h4,h5,h6
    {
        color: white;
    }
    p
    {
        color: silver ;
    }
    a
    {
        color: silver;
        transition: .3s ease-in-out;
        text-decoration: none !important;
    }
    a:hover
    {
        color: white;
    }
    a.button
    {
        width: fit-content;
        padding: 20px;
        font-size: 18px;
        border-radius: 50px;
        display: block;
        border: 1px solid silver;
        background-color: transparent;
    }
    a.button>span
    {
        margin-right: 10px;
    }
}
/* HOME PAGE */
header
{
    z-index: 2;
    width: 100vw;
    height: 15vh;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 4, 19);
    div.logo
    {
        scale: 1.3;
    }
    div.logo>h1
    {
        font-size: 30px;
        line-height: 10px;
        color: rgba(192, 192, 192, 0.336);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    div.logo>h1>span
    {
        z-index: 1;
        padding-left: 10px;
        letter-spacing: 1px;
        font-size: 22px;
        color: orange;
        font-family: cursive;
        font-weight: bolder;
        text-shadow: 1px 1px .5px rgba(255, 255, 255, 0.767);
    }
    menu
    {
        width: 50vw;
        display: flex;
        justify-content: space-around;
    }
    menu>li
    {
        list-style-type: none;
    }
    menu>li>a
    {
        font-size: 20px;
    }
}
div.home-page
{
    width: 100vw;
    height: 100vh;
    border-bottom: 1px solid white;
    padding-left: 120px;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}
div.home-page>
div:nth-child(1)
{
    width: 40%;
    display: flex;
    flex-direction: column;
    h3
    {
        font-size: 50px;
    }
    h2
    {
        font-size: 70px;
    }
    p
    {
        margin: 40px 0px;
    }
}
div.home-page>
div:nth-child(2)
{
    width: 60%;
    height: 81.5vh;
    position: relative;
    img
    {
        z-index: 1;
        width: 90%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        position: absolute;
    }
    div.circle,
    div.circle1
    {
        width: 48%;
        height: 90%;
        right: 15%;
        top: 10%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-left: none;
        position: absolute;
        border: 1px solid white;
        div
        {
            z-index: 1;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid white;
            background-color: rgb(4, 4, 19);
        }
        div.inner-circle1{
            right: 30%;
            top: -3%;
        }
        div.inner-circle2{
            right:2%;
            top: 15%;
        }
        div.inner-circle3{
            right: -5%;
            top: 40%;
        }
        div.inner-circle4{
            right: -2%;
            top: 65%;
        }
    }
    div.circle1{
        height: 95%;
        right: 2%;
        top: 5%;
        border-top: none;
        border-bottom: none;
        border-color: rgba(192, 192, 192, 0.329);
    }
}
.about_page{
    padding: 70px;
}
.about_page .container {
    border: 10px solid white;
    display: flex;
    padding: 20px;
}
.about_page .container .left{
    width: 100%;
}
.about_page .container .left .first{
    display: flex;
}
.about_page .container .left .first .image{
    width: 30%;
}
.about_page .container .left  .first .image img{
    width: 100%;
}
.about_page .container .left  .first .text{
    padding: 5px;
}
.about_page .container .left  .first .text h1{
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
}
.about_page .container .left .second h1{
    font-size: 25px;
    padding: 10px;
}
.about_page .container .left .second p { 
    font-size: 15px;
    letter-spacing: 2px; 
    padding: 10px;
} 
.about_page .container .left .second .contain { 
    width: 80%; 
} 
.about_page .container .left .second .skill { 
    background-color: rgb(218, 155, 40); 
    color: white; 
    padding: 5px; 
    text-align: right; 
    font-size: 10px; 
}
.about_page .container .left .second .html { 
    width: 100%; 
} 
.about_page .container .left .second .css { 
    width: 97%; 
} 
.about_page .container .left .second .java { 
    width: 80%; 
} 
.about_page .container .left .second .node{ 
    width: 70%; 
} 
.about_page .container .left .second .react { 
    width: 85%; 
} 
.about_page .container .right{
    width: 100%;
}
.about_page .container .right h1{
    font-size: 30px;
    font-weight: 400;
}
.about_page .container .right .line{
    border: 2px solid rgb(218, 155, 40);
    width: 15%;
}
.about_page .container .right h4{
    padding: 20px 0;
    font-size: 18px;
    font-weight: 200;
}
.services_page{
    padding: 70px;
}
.services_page h1{
    text-align: center;
    font-weight: 700;
    font-size: 40px
}
.services_page h3{
    text-align: center;
    padding: 10px;
    font-weight: 300;
}
.services_page .line{
    border: 2px solid rgb(218, 155, 40);
    width: 4%;
    margin: 20px 48%;
}
.services_page .servicesflex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.services_page .servicesflex .wrap{
    justify-content: space-between;
    width: 31%;
    height: 50vh;
    margin: 1%;
    border: 1px solid white;
    border-radius: 10px;
}
.services_page .servicesflex .wrap .dot{
    width: 25px ;
    border-radius: 50%;
    border:10px solid rgb(218, 155, 40);
    padding: 50px;
    margin: 20px 36%;
}
.services_page .servicesflex .wrap .text h1{
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}
.services_page .servicesflex .wrap .text h4{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}
.secondpage{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    width: 100%;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.797),rgba(0, 0, 0, 0.825)),url('/asset/img/pn9Cm7esDZqmmZRHeEBsSf.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.secondpage div{
    text-align: center;
    width: 20%;
}
.secondpage div h1{
    font-size: 30px;
    font-weight: 400;
    padding: 7px;
    color: white;
}
.secondpage div h2{
    font-size: 19px;
    font-weight: 300;
    color: white;
}
.secondpage div .dot{
    width: 25px ;
    border-radius: 50%;
    border:10px solid rgba(250, 190, 61, 0.897);
    padding: 30px;
    margin: 10px 35%;
}
.blog_page{
    padding: 70px;
}
.blog_page h1{
    text-align: center;
    font-weight: 700;
    font-size: 40px
}
.blog_page h3{
    text-align: center;
    padding: 10px;
    font-weight: 300;
}
.blog_page .line{
    border: 2px solid rgb(218, 155, 40);
    width: 4%;
    margin: 20px 48%;
}
.blog_page .blogflex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.blog_page .blogflex .wrap{
    border: 1px solid grey;
    border-radius: 8px;
    width: 32%;
}
.blog_page .blogflex .wrap .text{
    padding: 15px;
}
.blog_page .blogflex .wrap .text h1{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
.blog_page .blogflex .wrap .text h2{
    font-size: 17px;
    font-weight: 400;
}
.blog_page .blogflex .wrap .text h4{
    font-size: 15px;
    font-weight: 300;
}
.blog_page .blogflex .wrap .image img{
    width: 100%;
    height: 40vh;
}
.contact_page{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    width: 100%;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.797),rgba(0, 0, 0, 0.825)),url('/asset/img/pn9Cm7esDZqmmZRHeEBsSf.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.contact_page h1{
    font-weight: 800;
    font-size: 30px

}
.contact_page .line{
    border: 2px solid rgb(218, 155, 40);
    width: 8%;
    margin: 10px 0;
}
.contact_page .container{
    display: flex;
    color: white;
}
.contact_page .container .left{
    width: 100%;
    padding:0 20px;
}
.contact_page .container .left .input{
    width: 100%;
    height: 100%;
}
.contact_page .container .left .input input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.contact_page .container .left .input textarea{
    width: 100%;
    margin: 10px 0;
    max-width: 20px;
    min-width: 100%;
    max-height: 200px;
    min-height: 50px;
    padding: 10px;
}
.contact_page .container .left .input a{
    border: 1px solid rgb(218, 155, 40);
    border-radius: 25px;
    padding:10px 19px;
    background-color:rgb(218, 155, 40);
    text-decoration: none;
    color: white;
    margin: 36.3%;
}
.contact_page .container .right{
    width: 100%;
}
.contact_page .container .right h4{
    font-weight: 200;
    font-size: 18px;
    padding: 10px 0;
}
.contact_page .container .right h4 a{
    color: white;
    text-decoration: none;
}
footer{
    text-align: center;
    color: white;
}
footer h1{
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
}
footer h2{
    padding: 10px;
    font-size: 18px;
    font-weight: 200;
}
/* LOGIN PAGE */
.login .container{
    border: 30px solid rgba(6, 77, 6, 0.596);
}
.login .container .flex{
    display: flex;
    width: 100%;
    height: 100vh;
}
.login .container .flex .left{
    width: 100%;
    padding: 20px;
}
.login .container .flex .left .logo{
    display: flex;
    padding-left: 30%;
    align-items: center;
}
.login .container .flex .left .logo .image{
    width: 10%;
    height: 30px;
}
.login .container .flex .left .logo .image img{
    width: 100%;
    height: 30px;
}
.login .container .flex .left .logo .text h1{
    padding-left: 10px;
    text-transform: capitalize;
    font-weight: 200;
}
.login .container .flex .left .firsttext{
    margin-top: 20px;
    font-size: 30px;
}
.login .container .flex .left .firsttext h1{
    font-weight: 300;
    text-align: center;
}
.login .container .flex .left .input{
    padding: 15px;
}
.login .container .flex .left .input h1{
    font-size: 22px;
    padding: 10px;
}
.login .container .flex .left .input input{
    padding: 10px;
    width: 100%;
}
.login .container .flex .left .forgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.login .container .flex .left .forgot .checkbox{
    display: flex;
}
.login .container .flex .left .forgot .checkbox h1{
    font-size: 17px;
}
.login .container .flex .left .forgot a{
    color:  rgba(6, 77, 6, 0.596);
}
.login .container .flex .left .button{
    width: 80%;
    padding: 10px;
    margin:2% 10%;
}
.login .container .flex .left .button a{
    text-decoration: none;
}
.login .container .flex .left .button a h1{
    text-align: center;
    font-size: 20px;
    color: white;
}
.login .container .flex .left .signup h1{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-weight: 300;
}
.login .container .flex .left .signup a{
    color:  rgba(6, 77, 6, 0.596);
    text-decoration: none;
}
.login .container .flex .right{
    width: 100%;
}
.login .container .flex .right img{
    width: 100%;
    height: 100vh;
}

/* SIGN UP PAGE */

.sign_up .container{
    border: 30px solid  rgba(6, 77, 6, 0.596);
}
.sign_up .container .flex{
    display: flex;
    width: 100%;
    height: 100vh;
}
.sign_up .container .flex .left{
    width: 100%;
    padding: 10px;
}
.sign_up .container .flex .left .logo{
    display: flex;
    padding-left: 30%;
    align-items: center;
}
.sign_up .container .flex .left .logo .image{
    width: 10%;
    height: 30px;
}
.sign_up .container .flex .left .logo .image img{
    width: 100%;
    height: 30px;
}
.sign_up .container .flex .left .logo .text h1{
    padding-left: 10px;
    text-transform: capitalize;
    font-weight: 200;
}
.sign_up .container .flex .left .firsttext{
    margin-top: 20px;
    font-size:15px;
}
.sign_up .container .flex .left .firsttext h1{
    font-weight: 200;
    text-align: center;
}
.sign_up .container .flex .left .input{
    padding: 10px;
}
.sign_up .container .flex .left .input h1{
    font-size: 15px;
    padding: 10px;
}
.sign_up .container .flex .left .input input{
    padding: 10px;
    width: 100%;
}
.sign_up .container .flex .left .forgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.sign_up .container .flex .left .forgot .checkbox{
    display: flex;
}
.sign_up .container .flex .left .forgot .checkbox h1{
    font-size: 17px;
}
.sign_up .container .flex .left .forgot a{
    color:  rgba(6, 77, 6, 0.596);
}
.sign_up .container .flex .left .button{
    width: 80%;
    padding: 10px;
    margin:2% 10%;
}
.sign_up .container .flex .left .button a{
    text-decoration: none;
}
.sign_up .container .flex .left .button a h1{
    text-align: center;
    font-size: 20px;
    color: white;
}
.sign_up .container .flex .left .signup h1{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}
.sign_up .container .flex .left .signup a{
    color:  rgba(6, 77, 6, 0.596);
    text-decoration: none;
}
.sign_up .container .flex .right{
    width: 100%;
}
.sign_up .container .flex .right img{
    width: 100%;
    height: 100vh;
}
























/* .header-scrolled {previous header code
    background-color: rgba(250, 2, 2, 0.048);
}
header{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 5%;
    
}
header h1{
    font-size: 30px;
}
header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}header ul li{
    padding: 15px;
    font-size: 14px;
    text-transform: uppercase;
}
header ul li a{
    text-decoration: none;
    color: white;
}
.home_page{
    background-image: url(/asset/img/home3.webp);
    background-size: cover;
    height: 100vh;
}
.home_page h1{
    padding-top: 20%;
    text-align: center;
    color: white;
    font-size: 50px;
}
.home_page .animated-text{
    font-size: 31px;
    font-weight: 700;
    min-width: 280px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.home_page .animated-text span{
    position: relative;
}
.home_page .animated-text ::before{
    content: 'Youtuber';
    color: rgb(218, 155, 40);
    animation: words 20s infinite;
}
.home_page .animated-text ::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color:#121212;
    border-left: 1px solid rgba(214, 160, 59, 0.562);
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid #121212;
    }
}
@keyframes words{
    0%,20%{
        content: "Youtuber";
    }
    21%,40%{
        content: "Designer";
    }
    41%,60%{
        content: "Gamer";
    }
    61%,80%{
        content: "Blogger";
    }
    81%,100%{
        content: "Developer";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
} */